label {
display: flex;
flex-direction: column;
align-content: center;
flex-wrap: wrap;
margin-bottom: 20px;
}
input {
  width: 40vw;
  height: 3em;
  margin-top: 4px;
  border-radius: 20px 20px;
  outline: none;
  border-style: none;
  font-size: 0.8em;
}
.startStopYear {
    display: flex;
    flex-direction: row;
    height: 7em;
}
 .startStopYear input {
    width: 10vw;
    font-size: 0.8em;
        &:first-child {
            margin-right: 2em;
        }
}
textarea {
    width: 40vw;
    height: 10em;
    border-radius: 20px;
    outline: none;
    resize: none;
    border-style: none;
    margin-bottom: 2em;
    font-size: 0.8em;
}
.timeLap {
    display: flex;
    flex-direction: row;
}
.valid { border: solid green 2px}
.invalid { border: solid red 2px}
