body {
  margin: 0px;
  padding: 0px;
}
.image{
  background-image:url('./image/lights-stars.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
}
div, .form {
  display: flex;
  justify-content: center;
  padding: 35px;
  height: auto;
    &.form {
      background-color: lightblue;
      width: 50vw;
      border-radius: 20px;
    }
}
